.simulatePlot {
    position: fixed;
    width: 900px;
    height: 58vh;
    top: 7vh;
    left: 240px;
    z-index: 1;
    /*transition: all 1s!important;*/
}

#simulatePlot .close-btn {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
    color: #000;
}

#simulatePlot .close-btn:hover {
    color: #111;
}
